[submodule "src/Libraries/pybind11"]
	path = src/Libraries/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "src/Libraries/doctest"]
	path = src/Libraries/doctest
	url = https://github.com/onqtam/doctest
